<h1>Willkommen bei <%= t("application_name_html") %></h1>
<p>
  Wie können wir Ihnen helfen?
</p>
<p>
  Ich brauche eine massgeschneiderte Webseite.
</p>
<p>
  Ich möchte Abläufe und Prozesse automatisieren.
</p>
<p>
  Ich suche einen Tester.
</p>
<hr />
<p>
  Über <%= t("application_name_html") %>
</p>
<p>
 Schaffhausen
</p>
<p>
  Sandro Räss
</p>
<p>
  
</p>
