<% content_for :head do %>
  <%= javascript_import_module_tag "hello_world" %>
<% end %>
<div class="container">
<h1>Willkommen bei <%= t("application_name_html") %></h1>
<p>
  Wie können wir Ihnen helfen?
</p>
<p>
  Ich brauche eine massgeschneiderte Webseite.
</p>
<p>
  Ich möchte Abläufe und Prozesse automatisieren.
</p>
<p>
  Ich möchte etwas testen lassen.
</p>
<hr />
<h2>
  Über <%= t("application_name_html") %>
</h2>
<p>
  Wir entwickeln Webseiten.
</p>
</div>
